<header>
  <nav>
    <div class="logo" onclick="window.location.href='/home'">El-Maktaba</div>
    <div class="bttns-group">
      <button>Login</button>
      <button>Register</button>
    </div>
  </nav>
</header>
