<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/base.css" />
  </head>
  <body>
    <%- include('./partials/header'); -%>
    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>Welcome to El-Maktaba</h1>
          <p>
            "Store your books, organize your collection, and manage them all in
            one place."
          </p>

          <div class="hero-buttons">
            <button onclick="window.location.href='/books/allBooks'">Show All</button>
            <button onclick="window.location.href='/books/addBook'">Add Book</button>
          </div>
        </div>
      </section>
    </main>
  </body>
  <%- include('./partials/footer'); -%>
</html>
